<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Add new post &laquo; Admin</title>
  <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="/assets/css/admin.css">
  <script src="/assets/vendors/nprogress/nprogress.js"></script>
  <script src="/assets/vendors/vue/vue.js"></script>
  <script src="/assets/vendors/vue/vue-resource.js"></script>
  <script src="/assets/vendors/vue/vue-router.js"></script>
  <script src="/assets/vendors/jquery/jquery.js"></script>
  <script src="/assets/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="/assets/vendors/main.js"></script>
</head>
<body>
  <script>NProgress.start()</script>

  <div class="main" id="main" v-cloak>
    <nav_bar></nav_bar>
    <div class="container-fluid">
      <div class="page-title">
        <h1>写文章</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <form class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label for="title">标题</label>
            <input id="title" class="form-control input-lg" name="title" type="text" placeholder="文章标题"  v-model="title">
          </div>
          <div class="form-group" id="editor">
            <label for="content">内容</label>
            <textarea id="content" class="form-control input-lg" name="content" cols="30" rows="10" placeholder="内容" v-model="content"></textarea>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="slug">别名</label>
            <input id="slug" class="form-control" name="slug" type="text" placeholder="slug" v-model="slug">
            <!--<p class="help-block">https://zce.me/post/<strong>slug</strong></p>-->
          </div>
          <div class="form-group">
            <label for="feature">特色图像</label>
            <!-- show when image chose -->
            <img class="help-block thumbnail" v-bind:src="image" v-if="image" style="width: 200px;">
            <input id="feature" class="form-control" name="feature" type="file" v-on:change="uploadFile($event)">
          </div>
          <div class="form-group">
            <label for="category">所属分类</label>
            <select id="category" class="form-control" name="cat_id" v-model="cat_id">
              <option value="">请选择</option>
              <option v-bind:value="item.id" v-for="item in categoryList">{{ item.content }}</option>
            </select>
          </div>
          <!--<div class="form-group">-->
            <!--<label for="created">发布时间</label>-->
            <!--<input id="created" class="form-control" name="created" type="datetime-local">-->
          <!--</div>-->
          <div class="form-group">
            <label for="status">状态</label>
            <select id="status" class="form-control" name="status" v-model="cur_tatus">
              <option v-for="(item, k) in status" v-bind:value="k">{{ item }}</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" v-on:click.prevent.stop="addEdit()">保存</button>
          </div>
        </div>
      </form>
    </div>
    <div class="aside">
      <head_image></head_image>
      <aside_temple></aside_temple>
    </div>
  </div>

  <script>NProgress.done()</script>
  <script>
    var categoryUrl = '/admin/category/index'
    var postsUrl = '/admin/posts/index'
    var postsAddUrl = '/admin/posts/postAddEdit'
    var postGetStatus = '/admin/posts/getPostsStatus'
    var uploadUrl = '/utility/uploadimage/upload'
    var router = new VueRouter({
      mode: 'history',
      routes: []
    });
    var vue = new Vue({
      router,
      el:"#main",
      data:{
        categoryUrl:categoryUrl,
        postsUrl:postsUrl,
        postsAddUrl:postsAddUrl,
        uploadUrl:uploadUrl,
        categoryList:[],
        status:[],
        id:null,
        admin_id:1,
        cat_id: "",
        title: '',
        slug:'',
        image:'',
        content:'',
        cur_tatus:0
      },
      methods:{
        getCategory(){
          this.$http.get(this.categoryUrl).then(response => {
            if (response.data.code == 0) {
              this.categoryList = response.data.data
            }
          }, response => {
            // error callback
            console.log(response)
          });
        },
        getPostsList(){
          this.$http.get(this.postsUrl).then(response => {
            if (response.data.code == 0) {
              let postsList = response.data.data.data
              this.title = postsList[0]['title'];
              this.content = postsList[0]['content'];
              this.slug = postsList[0]['slug'];
              this.cur_tatus = postsList[0]['status'];
              this.cat_id = postsList[0]['cat_id'];
              this.admin_id = postsList[0]['admin_id'];
              this.image = postsList[0]['image'];
            }
          }, response => {
            // error callback
            console.log(response)
          });
        },
        getPostsStatus(){
          this.$http.get(postGetStatus).then(response => {
            if (response.data.code == 0) {
              this.status = response.data.data
            }
          }, response => {
            // error callback
            console.log(response)
          });
        },
        addEdit(){ //添加编辑帖子
          //发送post请求
          let data = {id:this.id,admin_id:this.admin_id,cat_id:this.cat_id,title:this.title,slug:this.slug,image:this.image,content:this.content,status:this.cur_tatus}
          this.$http.post(this.postsAddUrl,data, {emulateJSON:true}).then(response => {
            if (response.data.code == 0) {
              window.location.href = '/admin/posts.html';
            }
          },function(){
            alert('请求失败处理');   //失败处理
          });
        },
        uploadFile(event) {
          let file = event.target.files[0]
          const isLt2M = file.size / 1024 / 1024 < 2
          if (!isLt2M) {
            alert('上传头像图片大小不能超过 2MB!')
            return false
          }
          if (!/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(file.name)) {
            alert("图片类型必须是.gif,jpeg,jpg,png中的一种")
            return false;
          }
          var formData = new FormData()
          formData.append('image', file)
          this.$http.post(this.uploadUrl,formData, {headers: { 'Content-Type': 'multipart/form-data' }}).then(response => {
            if (response.data.code == 0) {
              this.image = response.data.data
            }
          },function(){
            console.log('请求失败处理');   //失败处理
          });
        }
      },
      computed: {

      },
      created() {
        let id = this.$route.query.id;
        this.id = id
        this.getPostsStatus()
        this.getCategory()
        if (parseInt(this.id) > 0) {
          this.postsUrl = postsUrl + '?id='+this.id
          this.getPostsList()
          this.postsUrl = postsUrl
        }
      },
      mounted: function() {

      }
    });
  </script>
</body>
</html>
